<div class="main-content backgroun-vigilium">
  <div class="container-fluid">
    <div class="conteudo">

      <div class="row">
        <div class="col-md-12">
          <h6 class="localizacao">Alertas</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <iframe
            src="https://api.meteomatics.com/now/t_2m:C/-19.0,-53.0_-25.5,-44.0:0.02,0.02/html_map"
            width="1000"
            height="500"
            frameborder="0"
          ></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
