.titulo{
    font-weight: bold;
    font-size: 57px;
}

.subtitulo{
    margin-bottom: 40px;
}

.cor-home{
    color: rgb(137, 0, 0);
}

.input-home {
    min-height: 50px;
    border-color: red;
    font-weight: 500;
    font-size: 20px;
}

.campo-input{
    margin-right: 25px;
}

.input-home::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Mantém a cor original, mas com 30% de opacidade */
  }

.conteudo{
    padding: 90px 0px 0px 40px;
    margin-right: 60px;
    margin-left: 60px;
}

.btn-home{
    background-color: rgb(137, 0, 0);
    min-height: 52px;
    min-width: 120px;
    font-size: 16px;
}