<div class="main-content backgroun-vigilium">
  <div class="container-fluid">

    <div class="conteudo">

      <div class="row">
        <div class="col-md-12">
          <h1 class="titulo cor-home">
            Ative sua localização ou indique a região a ser pesquisada
          </h1>
          <h5 class="subtitulo cor-home">
            Obtenha previsões em tempo real, médias históricas e muito mais.
          </h5>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4 campo-input">
          <div class="form-group">
            <input
              type="text"
              class="form-control input-home"
              placeholder="Ative sua localização ou pesquise"
            />
          </div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-fill pull-right btn-round btn-home">Procurar</button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <h5 class="cor-home">
            CUIDADO. ATENÇÃO. VIGILÂNCIA
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>