<div class="main-content backgroun-vigilium">
  <div class="container-fluid">
    <div class="conteudo">

      <div class="row">
        <div class="col-md-12">
          <h6 class="titulo">Registre sua ocorrência</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card caixa">
            <div class="header text-center titulo-form">Fale Conosco</div>
            <div class="header">Por favor, preencha os campos abaixo:</div>
            <div class="content">
              <form action="">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="primeiroNome">Primeiro Nome</label>
                    <input type="text" id="primeiroNome" class="form-control">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="email">Email</label>
                    <input type="text" id="primeiroNome" class="form-control">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="assunto">Assunto</label>
                    <select class="form-control">
                      <option disabled selected>Selecione...</option>
                      <option>Previsão</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-left">
                    <label for="assunto">Descreva-se: </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6" style="padding-left: 0px;">

                    <div class="col-md-6" style="padding-left: 6px;">
                      <div class="col-md-1"><input id="podePublico" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="podePublico">Poder Público</label></div>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-1"><input id="estudante" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="estudante">Estudante</label></div>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-1"><input id="empresaPrivada" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="empresaPrivada">Empresa Privada</label></div>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-1"><input id="jornalista" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="jornalista">Jornalista</label></div>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-1"><input id="pesquisador" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="pesquisador">Pesquisador</label></div>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-1"><input id="outros" type="radio" class="radio"></div>
                      <div class="col-md-6"><label for="outros">Outros</label></div>
                    </div>
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="assunto">Mensagem</label>
                    <textarea class="form-control" name="" id=""></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 form-group">
                    <div class="col-md-1"><input type="checkbox" id="concordo" class="form-control"></div>
                    <div class="col-md-11"><label for="concordo" style="padding-top: 20px;">Concordo com os termos e condições</label></div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-fill btn-round btn-sm" style="width: 100%;">Enviar Mensagem</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>