.titulo{
    margin-bottom: 30px;
    font-size: 20px;
}

.caixa{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.titulo-form{
    font-weight: bold;
    font-size: 35px;
}

.radio{
}

.swal-wide{
    width:850px !important;
}