<div class="main-content backgroun-vigilium">
  <div class="container-fluid">

    <div class="conteudo">

      <section id="esteja-preparado">
        <div class="row">
      
          <div class="col-md-6">
            <h6 class="cor-vigilum">Segurança energética e prevenção de desastres</h6>
            <h1 class="cor-vigilum">Esteja preparado para todas as situações</h1>
          </div>
          
          <div class="col-md-5">
            
            <div class="row">
              <div class="col-md-12">
                <h5 class="cor-vigilum">Obtenha previsões do tempo em tempo real, médias históricas e dados importantes
                  para garantir a segurança energética e a prevenção de desastres em São Paulo.
                </h5>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-6">
                <img class="icon" src="assets/img/ship-propeller.png" alt="Propeller">
                <h6 class="cor-vigilum">Atualizações metereológicas em tempo real</h6>
              </div>
              <div class="col-md-6">
                <img class="icon" src="assets/img/ship-propeller.png" alt="Propeller">
                <h6 class="cor-vigilum">Atualizações de riscos em tempo real</h6>
              </div>
            </div>
    
            <div class="row" style="margin-bottom: 16px;">
              <div class="col-md-6">
                <h5 class="cor-vigilum">Fique atualizado com as últimas condições metereológicas
                  em São Paulo.
                </h5>
              </div>
              <div class="col-md-6">
                <h5 class="cor-vigilum">Veja probabilidade de incidentes relacionados à queda de árvores.</h5>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-12 text-center">
                <button [routerLink]="'/previsao'" class="btn btn-fill btn-round btn-home btn-cor-gray">Explore nossas atualizações e previsões</button>
              </div>
              <!-- <div class="col-md-4" style="margin-left: 10px; margin-top: 15px;">
                <a (click)="scrollToElement()">Aprenda sobre prevenção de desastres</a>
                <i class="pe-7s-angle-right"></i>
              </div> -->
            </div>
            
          </div>
        </div>
      </section>


      <section id="imagem">
        <div class="row">
          <img class="img" src="assets/img/relampago.jpeg" alt="Relampago">
        </div>
      </section>

      <section id="destino">
        <div class="row" style="margin-top: 80px;">
          <div class="col-md-6">
            
            <div class="row">
              <div class="col-md-12">
                <h1 class="cor-vigilum">Segurança Energética e Prevenção de Desastres</h1>
                <h5 class="cor-vigilum">Mantenha-se preparado com dados em tempo real</h5>
              </div>    
            </div>

            <div class="row">
              <div class="col-md-12">
                <h6 class="text-right cor-vigilum">Precisão da Previsão do Tempo</h6>
              </div>
              <div class="col-md-5" >
                <h1 class="cor-vigilum" style="margin-top: 0px;">95%</h1>
              </div>
              <div class="col-md-7">
                <h5 class="text-right cor-vigilum">Previsões metereológicas precisas para ajudá-lo a se planejar com antecedência e mitigar riscos.</h5>
              </div>
              <img class="img-barra" src="assets/img/noventacinco.png" alt="Relampago">
            </div>

            <div class="row">
              <div class="col-md-12">
                <h6 class="text-right cor-vigilum">Previsão de desastres</h6>
              </div>
              <div class="col-md-5" >
                <h1 class="cor-vigilum" style="margin-top: 0px;">70%</h1>
              </div>
              <div class="col-md-7">
                <h5 class="text-right cor-vigilum">Matenha-se preparado para emergências e responda eficazmente a desastres.</h5>
              </div>
              <img class="img-barra" src="assets/img/setenta.png" alt="Relampago">
            </div>
          
            <div class="row">
              <div class="col-md-12">
                <h6 class="text-right cor-vigilum">Ocorrência de queda de energia</h6>
              </div>
              <div class="col-md-5" >
                <h1 class="cor-vigilum" style="margin-top: 0px;">90%</h1>
              </div>
              <div class="col-md-7">
                <h5 class="text-right cor-vigilum">Descubra as regiões passando por interrupção de energia e acompanhe o histórico de interrupções.</h5>
              </div>
              <img class="img-barra" src="assets/img/noventa.png" alt="Relampago">
            </div>

            <div class="row">
              <div class="col-md-12">
                <h6 class="text-right cor-vigilum">Informações sobre a cidade em um só lugar</h6>
              </div>
              <div class="col-md-5" >
                <h1 class="cor-vigilum" style="margin-top: 0px;">100%</h1>
              </div>
              <div class="col-md-7">
                <h5 class="text-right cor-vigilum">Um raio-x da cidade disponível 24h.</h5>
              </div>
              <img class="img-barra" src="assets/img/cem.png" alt="Relampago">
            </div>


          </div>
          <div class="col-md-6">
            <img class="img-chuva" src="assets/img/pessoa-na-chuva.png" alt="">
          </div>
        </div>
      </section>

    </div>

  </div>
</div>
