<div class="main-content backgroun-vigilium">
  <div class="container-fluid">
    <div class="conteudo">


      <div class="row">
        <div class="col-md-12">
          <h6 class="localizacao">São Paulo agora</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">

          <div class="row">
            <div class="col-md-5">
              <div class="card caixa">
                <div class="header text-center titulo">São Paulo, SP</div>
                <div class="content">

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <img src="assets/img/rainy.png" alt="Rainy" class="icons">
                    </div>
                    <div class="col-md-12 text-center">
                      <h2 class="temperatura">18ºC</h2>
                    </div>
                    <div class="col-md-12 text-center">
                      <h5 class="tipo-previsao">Chovendo</h5>
                    </div>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="card caixa">
                <div class="content" style="padding-left: 35px;">

                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="dia-previsao">Amanhã</h6>
                    </div>
                  </div>
                  
                  <div class="row caixa-temperatura-menor">
                    <div class="col-md-3 text-right">
                      <img src="assets/img/rainy.png" alt="Rainy" class="icon-menores">
                    </div>
                    <div class="col-md-9 text-left" style="padding-left: 5px;">
                      <h5 class="temperatura-menor">21º / 16º</h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="dia-previsao">Sexta</h6>
                    </div>
                  </div>

                  <div class="row caixa-temperatura-menor">
                    <div class="col-md-3 text-right">
                      <img src="assets/img/sun.png" alt="Rainy" class="icon-menores">
                    </div>
                    <div class="col-md-9 text-left" style="padding-left: 5px;">
                      <h5 class="temperatura-menor">21º / 16º</h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="dia-previsao">Sábado</h6>
                    </div>
                  </div>

                  <div class="row caixa-temperatura-menor">
                    <div class="col-md-3 text-right">
                      <img src="assets/img/sun.png" alt="Rainy" class="icon-menores">
                    </div>
                    <div class="col-md-9 text-left" style="padding-left: 5px;">
                      <h5 class="temperatura-menor">21º / 16º</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-7">
          <iframe src="https://api.meteomatics.com/now/t_2m:C/-23.4533,-46.8257_-23.7067,-46.3653:0.005,0.005/html_map" width="800" height="400" frameborder="0"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
